<!DOCTYPE html>
<html>
<head>
<title>Post Details</title>
</head>
	<body>
		<h1><%= @title_at_i %></h1>
		<h2><%= @author_at_i %></h2>
		<p><em><%= @category_at_i %></em></p>
		<p><strong><%= @date_at_i %></strong></p>
		<p><%= @content_at_i %></p>
	</body>
</html>