<h1><%= @group.name %></h1>
<ul>
	<% @users.each do |user| %>
		<li>
			<%= user.first_name %>
		</li>
	<% end %>
</ul>

<h1>Group Averages for Month</h1>
<div class="ct-chart-group-month"></div>
<h1>Group Averages for week</h1>
<div class="ct-chart-group-week"></div>

<%= javascript_tag do %>
$(document).ready(function(){

  new Chartist.Line('.ct-chart-group-month', {
    labels: <%= raw @days_month %>,
    series: [
      <%= @valence_averages_month %>,
      <%= @arousal_averages_month %>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

	new Chartist.Line('.ct-chart-group-week', {
    labels: <%= raw @days_week %>,
    series: [
      <%= @valence_averages_week %>,
      <%= @arousal_averages_week %>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

});
<% end %>

<% if group_member?(@group, current_user) %> 
  <%= button_to "Leave Team", {action: "destroy"}, method: :delete %>
<% end %>

<% unless group_member?(@group, current_user) %> 
	<%= button_to "Join Team", {action: "update"}, method: :patch %>
<% end %>