<div class="jumbotron">
  <h1><%= @group.name %></h1>
</div>
<div class="members">
  <ul>
    <li><strong>Group Members:</strong></li>
  	<% @users.each do |user| %>
  		<li>
  			<%= user.first_name %>
  		</li>
  	<% end %>
  </ul>

  <div class="group">

    <% if group_member?(@group, current_user) %> 
      <%= button_to "Leave Group", {action: "destroy"}, :class => 'btn btn-default', method: :delete %>
    <% end %>

    <% unless group_member?(@group, current_user) %> 
      <%= button_to "Join Group", {action: "update"}, :class => 'btn btn-default', method: :patch %>
    <% end %>

  </div>

</div>

<%= render 'shared/charts' %>

<%= javascript_tag do %>

$(document).ready(function(){

  setClockMonth(<%= @group.dial_angle 30 %>, <%= @group.intensity 30 %>);

  setClockWeek(<%= @group.dial_angle 7 %>, <%= @group.intensity 7 %>);

  showGraphMonth(<%= @group.valence_avg 30 %>, <%= @group.arousal_avg 30 %>, <%= raw @group.format_days 30 %>);

  showGraphWeek(<%= @group.valence_avg 7 %>, <%= @group.arousal_avg 7 %>, <%= raw @group.format_days 7 %>);

});
<% end %>

