<%= render "shared/navbar" %>

<h1><%= @group.name %></h1>
<ul>
	<% @users.each do |user| %>
		<li>
			<%= user.first_name %>
		</li>
	<% end %>
</ul>

<h1>Group Averages for Month</h1>
<div class="ct-chart-group-month"></div>

<div class="clock-prog color-version">
  <div class="dial dial-color-month">
    <%= image_tag("dial-color.svg") %>
  </div>
  <progress id="prog-color" value=".5" max="1.414"></progress>  
</div>

<h1>Group Averages for week</h1>
<div class="ct-chart-group-week"></div>

<div class="clock-prog color-version">
  <div class="dial dial-color-week">
    <%= image_tag("dial-color.svg") %>
  </div>
  <progress id="prog-color-week" value="" max="1.414"></progress>
</div>

<% if group_member?(@group, current_user) %> 
  <%= button_to "Leave Team", {action: "destroy"}, method: :delete %>
<% end %>

<% unless group_member?(@group, current_user) %> 
  <%= button_to "Join Team", {action: "update"}, method: :patch %>
<% end %>

<%= javascript_tag do %>

  <!-- function setClockMonth(angle, intensity) {
    $('.dial-color-month img').css("transform", "rotate(" + angle + "rad)");
    $('#prog-color').attr('value', intensity);
  };

  function setClockWeek(angle, intensity) {
    $('.dial-color-week img').css("transform", "rotate(" + angle + "rad)");
    $('#prog-color-week').attr('value', intensity);
  }; -->

  setClockMonth(<%= @group.dial_angle 30 %>, <%= @group.intensity 30 %>)

  setClockWeek(<%= @group.dial_angle 7 %>, <%= @group.intensity 7 %>)

<% end %>

<%= javascript_tag do %>
<!-- $(document).ready(function(){ -->

  showGraphMonth(<%= @group.valence_avg 30 %>, <%= @group.arousal_avg 30 %>, <%= raw @group.format_days 30 %>)


	new Chartist.Line('.ct-chart-group-week', {
    labels: <%= raw @group.format_days 7 %>,
    series: [
      <%= @group.valence_avg 7 %>,
      <%= @group.arousal_avg 7 %>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

<!-- }); -->
<% end %>

