<%= render "shared/navbar" %>

<% if user_signed_in? %>

			<%= image_tag('impressionist.jpg', :id => "header-image") %>
	

	<h1>Emotions Month</h1>
	<div class="ct-chart-month"></div>

	<div class="clock-prog color-version">
		<div class="dial dial-color-month">
			<%= image_tag("dial-color.svg") %>
		</div>
		<progress id="prog-color" value=".5" max="1.414"></progress>	
	</div>

	
	
	<h1>Emotions Week</h1>
	<div class="ct-chart-week"></div>
	

	<div class="clock-prog color-version">
		<div class="dial dial-color-week">
			<%= image_tag("dial-color.svg") %>
		</div>
		<progress id="prog-color-week" value="" max="1.414"></progress>
	</div>


<% else %>

	<h2>Nobody logged in</h2>

<% end %>


<%= javascript_tag do %>

	setClockMonth(<%= current_user.dial_angle 30 %>, <%= current_user.intensity 30 %>)

	setClockWeek(<%= current_user.dial_angle 7 %>, <%= current_user.intensity 7 %>)

	showGraphMonth(<%= current_user.valences 30 %>, <%= current_user.arousals 30 %>, <%= raw current_user.format_days 30 %>)

	showGraphWeek(<%= current_user.valences 7 %>, <%= current_user.arousals 7 %>, <%= raw current_user.format_days 7 %>)

<% end %>

