<% if user_signed_in? %>
	<div class="jumbotron">
	  <h1><%= current_user.first_name %></h1>
		<%= button_to "Log Emotion", new_emotion_path, :class => 'btn btn-default log-emotion', :method => "get" %>
	</div>
	<div class="white-space"></div>

	<%= render 'shared/charts' %>

<% else %>

	<h2>Nobody logged in</h2>

<% end %>


<%= javascript_tag do %>

	setClockMonth(<%= current_user.dial_angle 30 %>, <%= current_user.intensity 30 %>);

	setClockWeek(<%= current_user.dial_angle 7 %>, <%= current_user.intensity 7 %>);

	showGraphMonth(<%= current_user.valences 30 %>, <%= current_user.arousals 30 %>, <%= raw current_user.format_days 30 %>);

	showGraphWeek(<%= current_user.valences 7 %>, <%= current_user.arousals 7 %>, <%= raw current_user.format_days 7 %>);

<% end %>

