<% if user_signed_in? %>

	<h2><%= current_user.first_name %>, how are you feeling right now?</h2> 

	<%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>

	<h2>Your groups:</h2>
	<ul>
		<% @groups.each do |group| %>
			<li>
				<%= link_to group.name, group_path(group.id) %>
			</li>
		<% end %>
	</ul>

	<%= link_to "Create Group", new_group_path %>
	<h1>Emotions Month</h1>
	<div class="ct-chart-month"></div>

	<div class="clock-prog color-version">
		<div class="dial dial-color-month">
			<%= image_tag("dial-color.svg") %>
		</div>
		<progress id="prog-color" value=".5" max="1.414"></progress>	
	</div>

	
	
	<h1>Emotions Week</h1>
	<div class="ct-chart-week"></div>
	

	<div class="clock-prog color-version">
		<div class="dial dial-color-week">
			<%= image_tag("dial-color.svg") %>
		</div>
		<progress id="prog-color-week" value="" max="1.414"></progress>
	</div>


<% else %>

	<h2>Nobody logged in</h2>

<% end %>


<%= javascript_tag do %>

	function setUserClockMonth(angle, intensity) {
  	$('.dial-color-month img').css("transform", "rotate(" + angle + "rad)");
  	$('#prog-color').attr('value', intensity);
	};

	function setUserClockWeek(angle, intensity) {
  	$('.dial-color-week img').css("transform", "rotate(" + angle + "rad)");
  	$('#prog-color-week').attr('value', intensity);
	};

	setUserClockMonth(<%= current_user.dial_angle 30 %>, <%= current_user.intensity 30 %>)

	setUserClockWeek(<%= current_user.dial_angle 7 %>, <%= current_user.intensity 7 %>)

<% end %>

<%= javascript_tag do %>
$(document).ready(function(){

 new Chartist.Line('.ct-chart-month', {
    labels: <%= raw current_user.format_days 30 %>,
    series: [
      <%= current_user.valences 30 %>,
      <%= current_user.arousals 30 %>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

	new Chartist.Line('.ct-chart-week', {
    labels: <%= raw current_user.format_days 7 %>,
    series: [
      <%= current_user.valences 7 %>,
      <%= current_user.arousals 7 %>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });

});
<% end %>

