<h1><%= @my_concert.artist %></h1>
<p><strong>Venue: </strong><%= @my_concert.venue %></p>
<p><strong>City: </strong><%= @my_concert.city %></p>
<p><strong>Date: </strong><%= @my_concert.date %></p>
<p><strong>Price: </strong><%= @my_concert.price %></p>
<p><strong>Description: </strong><%= @my_concert.description %></p>

