<div class="row">

	<div class="clock-prog-bw">
		<div class="dial">
			<%= image_tag("dial.svg") %>
		</div>
		<progress value="" max="1.414"></progress>	
	</div>

	<div class="AffectiveSlider">
		<%= form_for @emotion do |f| %>
			
			<div class="AScontainer pleasure">
				<%= f.range_field(:valence, in: -1.00..1.00, step: 0.01) %>
				<div class="inline"><span class="left"><p>Sad</p></span><span class="right"><p>Happy</p></span></div>
				<div class="ASintensityCue"></div>
			</div>

			<div class="AScontainer arousal">
				<%= f.range_field(:arousal, in: -1.00..1.00, step: 0.01) %>
				<div class ="inline"><span class="left"><p>Tired/Drained</p></span><span class="right"><p>Anxious/Alert</p></span></div>
				<div class="ASintensityCue"></div>
			</div>
			
			<%= f.button "Submit", :class => 'btn btn-default slider-submit' %>

		<% end %>
	</div>		
		
	
	
</div>
