<!DOCTYPE html>
<html>
<head>
  <title>ForumForMovies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<%= render "shared/header" %>

<%= yield %>

</body>
<%= render "shared/footer" %>
</html>
